<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<title>COSCUP 開源挑戰賽</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../css/reset.css" rel="stylesheet">
<link href="../css/main.css" rel="stylesheet">
<script src="https://scdn.line-apps.com/channel/sdk/js/loader_20150909.js"></script>
<script type="text/javascript">
window.addEventListener("load", function(evt) {
	document.addEventListener("deviceready", function(evt) {
		LCS.Interface.getProfile(function(data) {
			var mid = data.id;
			var displayName = data.displayName;
			var statusMessage = data.statusMessage;
			var pictureUrl = data.pictureUrl;
		}, function() {
			window.location = 'http://coscup.org';
		});
	}, false);
});
var options = {
  pageKey: "key1",
  titleBar: {
    center: {
      text: "COSCUP2016",
      clickable: false
    },
    right: {
      imgId: "btn_default",
      text: "Close",
      visible: true,
      enable: true
    }
  }
};
LCS.Interface.updateTitleBar(options);
LCS.Interface.registerTitleBarCallback(function(evt) {
  switch(evt.target) {
  case "RBUTTON":
    window.location = "https://line.me/R/ti/p/%40test_coscup2016";
    break;
  case "LBUTTON":
  case "BACK":
  case "TITLE":
    break;
  }
});
</script>
</head>
<body>
{% block body %}
<div class= "banner">    
   <img src="../img/main_withslogan.svg" alt="COSCUPlogo2016" class="logo"><br>
    <img src="../img/eventTitle-01.png" alt="開源巔峰挑戰賽" class="eventTitle">
</div>
<div class="pointChart">
  {% for sp_booth in check_in_data['status'] %}
  <div class="pointStamp {{sp_booth}}">
  {% if check_in_data['status'][sp_booth] %}
  <img class="cover_mask" src="../img/done-01.png" />
  {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}
<hr>
<div style="height: 100px; position: relative; margin-top: 100px;">
本系統以 LINE BOT API 開發，更多細節請參考<a href="https://developers.line.me/">LINE Developers頁面</a><br/>
或者加入<a href="http://line.me/ti/p/9AirZgJAgb">LINE開發者官方社群</a>
</div>
</body>
</html>